<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Keyboard Typing Speed</title>
</head>
<body>
    <div class="content-body">
        <div class="container-head">
            <div class="h-titile">Keyboard Typing Speed ... |</div>
        </div>
        <div class="container-middle">
            <div class="timer">
                <h2 id="timer"></h2>
            </div>
            <h2 id="res" style="display: none;">Победа!!!</h2>
            <input type="text" value="" class="input-value-text" placeholder="Начать..">
            <textarea name="" class="text-generated" id=""><%=generatedText%></textarea>
        </div>
        <div class="container-footer">
            <div class="container">
                <a type="submit" class="btn" href="/">Изменить</a>
                <input type="submit" class="btn" id="clear-btn" value="Заново" style="margin-left: 20px;">
            </div>
            <div class="container">
                <input class="btn" id="length" style="width: 200px;" value="Количество символов: ">
                <input class="btn" style="margin-left: 20px;" value="Ошибки: ">
            </div>
        </div>
    </div>
</body>
<script>
    // Проверка текста
    const timer = document.getElementById("timer"); // Исправить точность времяни
    let time = new Date(); 
    
    // Очистка поля ввода
    const clearBtn = document.querySelector('#clear-btn');
    
    function clear() {
        document.querySelector('.input-value-text').value = '';
        time = new Date();
    }
    
    clearBtn.addEventListener('click', clear);
    
function updateTime() {
    const now = new Date();
    const res = now.getSeconds() - time.getSeconds();
    timer.textContent = res + " c";
}

let timerId = setInterval(updateTime, 1000);

function checkText() {
    const inputTextCheck = document.querySelector('.input-value-text').value;
    const generatedTextCheck = document.querySelector('.text-generated').value;

    console.log(inputTextCheck.length)
    const textLenght = document.querySelector('#length');
    textLenght.value = "Количество символов: " + inputTextCheck.length

    if (inputTextCheck === generatedTextCheck) {
        const inputTextElement = document.querySelector('.input-value-text');
        const res = document.getElementById('res');

        res.style.display = 'block';
        inputTextElement.style.display = 'none';

        console.log("Ура победа");
        clearInterval(timerId); // Останавливаем таймер 
    } else {
        console.log("Ох блинн");
    }
}

setInterval(checkText, 1000);

</script>
</html>