<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Keyboard Typing Speed</title>
</head>
<body>
    <div class="content-body">
        <div class="container-head">
            <div class="h-titile">Keyboard Typing Speed ... |</div>
        </div>
        <div class="container-middle">
            <input type="text" value="Печать.." class="input-value-text">
            <textarea name="" class="text-generated">Текст тест печать собака арбуз помидор</textarea>
        </div>
        <div class="container-footer">
            <input type="submit" value="ошибки">
            <input type="submit" value="повторить">
            <input type="submit" value="количество символов">
        </div>
    </div>
</body>
</html>