<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Keyboard Typing Speed</title>
</head>
<body>
    <div class="content-body">
        <div class="container-head">
            <div class="h-titile">Keyboard Typing Speed ... |</div>
        </div>
        <div class="container-middle">
            <input type="text" value="" class="input-value-text" placeholder="Начать..">
            <textarea name="" class="text-generated">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi illum porro eligendi voluptas dolorem. Consequuntur, provident dignissimos corrupti accusantium ullam quisquam laudantium nemo animi. Dolores perferendis ipsam illum quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi illum porro eligendi voluptas dolorem. Consequuntur, provident dignissimos corrupt</textarea>
        </div>
        <div class="container-footer">
            <a type="submit" class="btn" href="">повторить</a>
            <input class="btn" value="количество символов: ">
            <input type="submit" class="btn" value="ошибки: ">
        </div>
    </div>
</body>
</html>