<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Keyboard Typing Speed</title>
</head>
<body>
    <div class="content-body">
        <div class="container-head">
            <div class="h-titile">Keyboard Typing Speed ... |</div>
        </div>
        <div class="container-middle">
            <input type="text" value="" class="input-value-text" placeholder="Начать..">
            <input name="" class="text-generated" value="<%=generatedText%>">
        </div>
        <div class="container-footer">
            <div class="container">
                <a type="submit" class="btn" href="/">Изменить</a>
                <a type="submit" class="btn" href="" style="margin-left: 20px;">Заново</a>
            </div>
            <div class="container">
                <input class="btn" style="width: 200px;" value="Количество символов: ">
                <input class="btn" style="margin-left: 20px;" value="Ошибки: ">
            </div>
        </div>
    </div>
</body>
</html>