@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-Medium.ttf) format(truetype);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 81, 81);
    color: rgb(187, 207, 136);

    font-family: 'Rubik';
}

.h-titile{
    font-size: 40px;
}

.content-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 35px;

    -webkit-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
}

.container-head{
    width: 520px;
    margin-bottom: 50px;
    background-color: rgb(61, 61, 61);
    padding: 20px;
    border-radius: 15px;


    -webkit-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
}

.container-middle{
    width: 820px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    background-color: rgb(61, 61, 61);
    padding: 20px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
}

.container-footer{
    display: flex;
    width: 550px;
    flex-direction: column;
    background-color: rgb(61, 61, 61);
    padding: 20px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.2);
}

.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 10px;
}

.input-value-text{
    width: 100%;
    text-align: center;
    background-color: rgb(61, 61, 61);
    font-size: 16px;
    border: none;
    color: rgb(187, 207, 136);

    font-family: 'Rubik';
}

.input-value-text:active{
    border: none;
}

.text-generated{
    background-color: rgb(61, 61, 61);
    font-size: 22px;
    border: none;
    color: gray;

    font-family: 'Rubik';
}

.text-generated{
    margin-top: 20px;
    max-width: 650px;
    min-width: 650px;
    max-height: 200px;
    min-height: 200px;
}

.btn{
    width: auto;
    background-color: rgb(51, 50, 50);
    color: rgb(187, 207, 136);
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

    font-family: 'Rubik';

    transition: 0.3s;
}

.btn:hover{
    background-color: rgb(30, 29, 29);

    transition: 0.3s;
}

.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#error-display{
    background-color: rgb(51, 50, 50);
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}